/* cart.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color:rgb(61, 60, 60);
    color: white;
}
header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}
main {
    padding: 20px;
}

#cart-container {
    max-width: 800px;
    margin: auto;
}

#cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

.cart-item-name {
    flex: 1;
}

.cart-item-price {
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.cart-icon {
    margin-left: 5px; /* Space between the search button and cart icon */
    font-size: 18px;
    color: #f5f8f9;
    text-decoration: none;
  }
  
  .cart-icon i {
    display: inline-block;
    vertical-align: middle;
  }
footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}
