/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color:#333;
    color: white;
    padding: 20px ;
    text-align: right;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Contact Section Styles */
#contact {
    padding: 20px 0;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.cart-icon {
    margin-left: 5px; /* Space between the search button and cart icon */
    font-size: 18px;
    color: #f5f8f9;
    text-decoration: none;
  }
  
  .cart-icon i {
    display: inline-block;
    vertical-align: middle;
  }
footer p {
    margin: 0;
}